* {
    text-align: center;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 3px;
}

button:hover {
    cursor: pointer;
}

body {
    height: 80vh;
    border: solid 30px;
}

header, footer {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    height: 60%;
}

footer {
    background-color: gray;
    color: white;
    font-weight: bold;
}

.flex {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.btn {
    width: 10rem;
    height: 8rem;
    font-size: 4rem;
    border-radius: 5%;
    border: 2px solid;
}

.st-btn {
    background-color: #bbf1b0;
}

.re-btn {
    background-color: pink;
}

@media screen and (min-width: 721px) {
    html {
        font-size: 75%;
    }
    body{
        font-size: 2rem;
        height: 100vh;
    }
    .num {
        font-size: 12rem;
    }
}

@media screen and (max-width: 720px) {
    html {
        font-size: 62.5%;
    }
    body{
        font-size: 2rem;        height: 80vh;
        height: 80vh;
    }
    h1 {
        font-size: 100%;
    }
    .num {
        font-size: 12rem;
    }
}